

$red: #F25C54;
$yellow: #FFD972;
$dark-pink: #EFA7A7;
$light-pink: #FCbcb8;
$green: #A7E8BD;
$blue: #C7EAE4;
$dark: #393939;
$black: #000;
$white: #fff;


$caveat:'Caveat', cursive;
$gill-sans: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

$nav-width: 1170px;